<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-9 col-sm-12 col-xs-12">
    <div class="left-content">

        <section class="section-style box-shadow">
            <header><h2> اطلاعات حساب کاربری </h2></header>
            <div class="inner">

                <form action="" method="" class="form-style">

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-account"></i> نام و نام خانوادگی یا نام کاربری :
                                    mohammad_dmnd </label>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-globe-alt"></i> آدرس وبسایت : </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-phone-in-talk"></i> شماره تماس : 09376104747</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <!-- input -->
                            <div class="input-layer">
                                <label><i class="zmdi zmdi-email"></i> ایمیل : mohammad.diamond.4747@gmail.com</label>
                            </div>
                            <!--/ input -->
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- textarea -->
                            <div class="textarea-layer">
                                <label><i class="zmdi zmdi-assignment"></i> بیوگرافی </label>

                            </div>
                            <!-- /textarea -->
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden"
                           value="CfDJ8ChGWi1qCgVKtcV4ym9_4x7biBx9vtsK3xzyajlrKbjmtW3sp8E-odXUUuLuux8x-RAQ_tiF5Sr3Ns2-8Alrh9JWnkm2FAf-iTmtvhn8Ly41ujWbkHChE6Ybti6qGJngja0u4Vx02Z9auqcriTwf2iOR0nJL3GntQFQgE3WVFbHEV1DeF75KI2DgzGIZAkjLdQ">
                </form>
            </div>
        </section>


    </div>
</div>

</body>
</html>