{% extends 'profile_page_components/profile_mainlayout.html' %}
{% load static %}


{% block content %}
    <section>
        <div class="container">
            <div class="row" style="margin-top: 40px;">

                <div class="col-sm-9 padding-right">

                    <table style="width:100%">
                        <caption>اطلاعات شخصی</caption>
                        <tr>
                            <td class="col-one">نام و نام خانوادگی : <span
                                    style="color: #2a6496">{{ current_user.first_name }} {{ current_user.last_name }}</span>
                            </td>
                            <td class="col-two">ایمیل : <span style="color: #2a6496;">{{ current_user.email }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-one">شماره تماس : <span style="color: #2a6496;">
                                {% if current_user.phone_number is None %} &nbsp; {% else %}
                                    {{ current_user.phone_number }} {% endif %} </span>
                            </td>

                            <td class="col-two">کد ملی : <span style="color: #2a6496;">
                                {% if current_user.melli_code is None %} &nbsp; {% else %}
                                    {{ current_user.melli_code }}{% endif %}</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="my-row-three" colspan="2">آدرس ها : <span style="color: #2a6496;">
                                {% if addresses.exists %}
                                    <ul class="user_addresses">
                                    {% for address in addresses %}
                                        <li class="user_address"><span
                                                class="glyphicon glyphicon-ok"></span> <span>{{ address.user_address }}</span></li>
                                    {% endfor %}
                                    </ul>
                                {% else %} {% endif %} </span>
                            </td>


                        </tr>

                        <tr>
                            <td colspan="2" id="edit-btn"><a href="{% url 'edit-info' %}"
                                                             style="color: orange;">
                                <i class="fa fa-edit" style="font-size: 18px;color: orange;"></i>
                                ویرایش اطلاعات شخصی</a></td>
                        </tr>
                    </table>


                    {% if shoppingCarts.exists %}

                        <table style="width:100%; margin-top: 50px;margin-bottom: 80px;">
                            <caption>لیست سفارشات</caption>
                            <tr>
                                <th class="num">#</th>
                                <th class="order-num">شماره سفارش</th>
                                <th class="order-date">تاریخ ثبت سفارش</th>
                                <th class="total-price">مبلغ قابل پرداخت</th>
                                <th class="paying-status">عملیات پرداخت</th>
                                <th class="details">مشاهده جزییات</th>
                            </tr>
                            {% for cart in shoppingCarts %}

                                <tr>
                                    <td class="num">{{ forloop.counter }}</td>
                                    <td class="order-num">{{ cart.id }}</td>
                                    <td class="order-date">{{ cart.order_at|date }}</td>
                                    <td class="total-price">{{ cart.total_price }} ریال</td>
                                    <td class="paying-status">
                                        {% if cart.ordered %}
                                            <span style="font-size: 15px;color: #4cae4c;">پرداخت موفق</span>
                                    {% else %}
                                            <span style="font-size: 15px;color: #E21C0F;">پرداخت ناموفق</span>
                                    {% endif %}
                                    </td>
                                    <td class="details"><a href=""><i class="fa fa-hand-o-left"
                                                                      style="font-size: 20px;"></i></a></td>
                                </tr>
                            {% endfor %}


                        </table>

                    {% else %}
                        <div class="noShoppedDiv">
                            <img class="sadPic" src="{% static 'images/home/sadpicture.jpg' %}" alt="image">
                            <p class="noShopped">شما تاکنون خریدی انجام نداده اید...</p>
                        </div>
                    {% endif %}

                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">

                        <img src="{{ current_user.profile_pic.url }}" alt="image" class="profile-img">
                        <p class="user">{{ current_user.username }}</p>

                        {% include 'profile_page_components/profile_sidebar_component.html' %}

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}