.profile-img {
    width: 105px;
    height: 105px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user {
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

.my-panel-title {
    color: orange;
    font-size: 18px;
}

.a-tags1 {
    color: #2a6496;
    font-size: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    direction: rtl;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

th {
    text-align: center;
    background-color: darkslategray;
    color: lightgray;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: right;
    margin: 10px;
}

.col-one {
    width: 50%;
    font-weight: bold;
}

.col-two {
    font-weight: bold;
}

#edit-btn {
    text-align: center;
    font-weight: bold;
}

.edit-button {
    color: orange;
}

.num {
    text-align: center;
    width: 5%;
    font-weight: bold;
}

.order-num {
    text-align: center;
    font-weight: bold;
}

.order-date {
    text-align: center;
    font-weight: bold;
}

.paying-price {
    text-align: center;
    font-weight: bold;
}

.total-price {
    text-align: center;
    font-weight: bold;
}

.paying-status {
    text-align: center;
    font-weight: bold;
}

.details {
    text-align: center;
    font-weight: bold;
}

.user_addresses {
    margin-left: 20px;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 90%;
    float: left;
}

.user_address {
    margin-bottom: 5px;
}

.my-row-three {
    font-weight: bold;
}
.noShoppedDiv{
    text-align: center;
}

.noShopped{
    margin-top: 40px;
    font-size: 30px;
    color: orange;
}
.sadPic{
    margin-top: 60px;
    width: 100px;
    height: 100px;
}