<div class="panel-group category-products" id="accordian"><!--category-productsr-->


    <div class="panel panel-default">
        <div class="panel-heading">

            <h4><a href="{% url 'show_all_products' %}">همه محصولات</a></h4>
            <h4><a href="/category-agriculture">محصولات کشاورزی</a></h4>
            <h4><a href="/category-rural-products">افرآورده های روستایی</a></h4>
            <h4><a href="category-handmade">صنایع دستی</a></h4>
            <h4><a href="/category-animals">دام و طیور</a></h4>
        </div>
    </div>



</div><!--/category-products-->