<div class="col-sm-4 pull-right">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img style='width:250px;height: 200px;' src="{{ product.image.url }}" alt="{{ product.title }} ">
                <h2>{{ product.price }} تومان </h2>
                <p>{{ product.title }}</p>
                <a href="?page={{ page_number }}&addToCart={{ product.id }}" class="btn btn-default add-to-cart"><i
                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
            </div>


            {#      this is for modal that appears when you add a product to your shopping cart:      #}
            {% if showModal and product.id == product_id %}
                {% include 'products/add_to_cart_modal_component.html' with modalMessage=modalMessage %}
            {% endif %}


            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>{{ product.price }} تومان </h2>
                    <p>{{ product.title }}</p>

                    {# this is for for when user searches sth(it comes from search view in search app) #}
                    {% if search %}
                        <a href="?q={{ search }}&page={{ page_number }}&addToCart={{ product.id }}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                    {% else %}
                        {# and this is when user does not search and wants to add a product to shopping cart regularly #}
                        <a href="?page={{ page_number }}&addToCart={{ product.id }}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                    {% endif %}

                </div>
            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}">
                    <i class="fa fa-plus-square"></i>مشاهده محصول
                </a></li>
                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
            </ul>
        </div>
    </div>
</div>


