{% extends 'shared/_MainLayout.html' %}

{% block content %}
    <section id="form">
        <div class="row">
            <div class="forget-password">
                <div class="col-sm-6">
                    <div class="login-form">
                        <h3>رمز شما با موفقیت تغییر یافت.</h3>
                        <p>برای ورود به سایت دکمه ی زیر را کلیک کنید :</p>
                        <a href="{% url 'login' %}">
                            <button class="btn btn-default btn-block">ورود</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}