{% extends 'shared/_MainLayout.html' %}

{% block content %}
    {% if validlink %}
        <section id="form">
            <div class="row">
                <div class="forget-password">
                    <div class="col-sm-6">
                        <div class="login-form">
                            <h2>تغییر کلمه عبور : </h2>
                            <form method="post">
                                {% csrf_token %}

                                {#{{ form.as_p }}#}
                                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                                {{ form.new_password1 }}
                                {{ form.new_password1.help_text }}

                                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                                {% for error in form.new_password2.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}


                                <button type="submit" class="btn btn-default">ثبت کلمه عبور جدید</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% else %}
        <p style="direction: rtl;">
            لینک بازیابی کلمه عبور ، معتبر نیست.احتمالا چون قبلا استفاده شده است.
            لطفا دوباره تلاش کنید.

        </p>
    {% endif %}
{% endblock %}